@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body { font-family: 'Roboto Mono', monospace; }

.blackSquare { display:inline-block; text-align:center; padding-top:70px; font-size:2em; width:200px; height:120px; background-color:#000; user-select: none; }
.blackSquare:hover { color:#fff; }