@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body { font-family: 'Roboto Mono', monospace; background-color:#d3d3d3; }

.friend { margin:15px; padding:35px; border:5px solid #a9a9a9; border-radius: 15px; width:30em; display:block; position:relative; }
.friend h3 { text-transform: uppercase; }

h1 { color:red;}
